set timeout=5
set default=0
insmod all_video

menuentry "Nueva Somosaguas @VERSION@ (en vivo)" {
  linux /live/vmlinuz boot=live quiet splash transparent_hugepage=madvise zswap.enabled=0
  initrd /live/initrd.img
}
menuentry "Nueva Somosaguas @VERSION@ (en vivo, con los mensajes de arranque)" {
  linux /live/vmlinuz boot=live transparent_hugepage=madvise zswap.enabled=0
  initrd /live/initrd.img
}
